doctype html
html
  head
    title Minha Loja Online
  body
    h1 Bem-vindo à Minha Loja Online
    p Aqui você pode encontrar nossos produtos e serviços.
    ul
      li
        a(href='/clientes') Gerenciar Clientes
      li
        a(href='/produtos') Gerenciar Produtos
